<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>entry-point</servlet-name>
        <servlet-class>com.seanshubin.entrypoint.web.one.EntryPointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entry-point</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
